html {
  width:100%;
  height:100%;
}
body {
  width:100%;
  height:100%;
  padding:0;
  background-color:#fbe4a1
}

.App {
  text-align: center;
  width:100%;
  height:100%;
}

.toolbar {
  position: relative;
  z-index:3;
}

.relations {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}

.relation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}

.tables {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;
}

.root {
  width:100%;
  height:100%;
}

.visualization {
  width:100%;
  height:100%;
  border-right:1px solid white
}

.editorbutton {
  text-align:center;
}

.TextEditor{
  height:50%;
  text-align:center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}

.typeinput {
  width:80%;
  float:left;
}

.drawArea {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  float: left;
  cursor: crosshair;
}

.path {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.react-draggable {
 width: 372px;
 }
 .back {
  width: 33%;
  height: 200px;
  float: left;
  background-color: #eeeeee;
  border: 10px;
  border-color: #ffffff;
  border-style: solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  counter-increment: bc;
  padding: 0px 5px 5px 5px;
}

.back:before {
  content: counter(bc) "_";
  position: absolute;
  padding: 10px;
}

@media screen and (max-width: 1260px) {
  .back {
      width: 50%;
  }
}

@media screen and (max-width: 840px) {
  .back {
      width: 100%;
  }
}
.button_base {
  border-color: solid #fbe4a1
}
.button_base:hover {
  cursor: pointer;
  border-color: solid #fbe4a1;
}
.b02_slide_in {
  overflow: hidden;
  border: #000000 solid 1px;
}

.b02_slide_in div {
  position: absolute;
  text-align: center;
  width: 20%;
  height: 55px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  border-radius:15px;
}

.b02_slide_in div:nth-child(1) {
  margin-top:1px;
  color:#F5ECB1	;
  background-color: #6F4A38	;
}

.b02_slide_in div:nth-child(2) {
  margin-top:2px;
  background-color: #F0ECE1		;
  transition: top 0.1s ease;
  -webkit-transition: top 0.1s ease;
  -moz-transition: top 0.1s ease;
  top: -60px;
  border-radius:15px;
  
}

.b02_slide_in div:nth-child(3) {
  color: #977359;  
  transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  opacity: 0;
}

.b02_slide_in:hover div:nth-child(2) {
  top: 0px;
  transition: top 0.1s ease;
  -webkit-transition: top 0.1s ease;
  -moz-transition: top 0.1s ease;
}

.b02_slide_in:hover div:nth-child(3) {
  opacity: 1;
  transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
}

.force-select{
  -webkit-user-select: all;
}