.appBar {
  width:100%;
  height: 65px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/*add and delete buttons*/
.addAndClearBtns {
  float: left;
  color: rgb(51,51,51);
  font-weight: bold;
  border: 1px solid rgb(45,45,45);
  border-radius: 50%;
  background-color: #FFD000;
  margin-right: 7px;
}

#createTableBtn {
  /*color: white;*/
  background-color: rgba(30,130,76,1);
}

#createTableBtn:hover {
  color: rgba(30,130,76,1);
  background-color: white;
  border-color: white;
}

#clearBtn {
  background-color: rgba(166,0,0,1);
}

#clearBtn:hover {
  color: rgba(166,0,0,1);
  background-color: white;
  border-color: white;
}

.save {
  color: rgb(51,51,51);
  background-color: #fdd217; /*#FFD000;*/
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-right:10px;
  margin-top: 2px;
  border-radius: 5px;
}

.save:hover {
  background-color: white;
  color: rgb(51,51,51);
}

.test {
  color: rgb(51,51,51);
  background-color: #fdd217; /*#FFD000;*/
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-right:10px;
  margin-top: 2px;
  border-radius: 5px;
}

.test:hover {
  background-color: white;
  color: rgb(51,51,51);
}

#tooltip {
  font-size: 20px;
}