.appBar {
  width:100%;
  height:58px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/*add and delete buttons*/
.addAndClearBtns {
  float: left;
  margin-top: 8px;
  color: rgb(51,51,51);
  font-weight: bold;
  border: 2px solid rgb(51,51,51);
  border-radius: 50%;
  background-color: #FFD000;
}

#createTableBtn {
  /*color: white;*/
  background-color: rgba(30,130,76,1);
}

#createTableBtn:hover {
  color: rgba(30,130,76,1);
  background-color: white;
  border-color: white;
}

#clearBtn {
  background-color: rgba(166,0,0,1);
}

#clearBtn:hover {
  color: rgba(166,0,0,1);
  background-color: white;
  border-color: white;
}

.save {
  color: rgb(51,51,51);
  margin-top: 10px;
  background-color: #FFD000;
  font-size: 18px;
  font-weight: bold;
  padding: 10px
}

.save:hover {
  background-color: white;
  color: rgb(51,51,51);
}