#root {
    width:100%;
    height:1200px;;
    overflow: scroll;
}
#routed-component {
    width:100%;
    height:100%;
    overflow: scroll;
}
.mainpage {
    display:flex;
    width:100%;
    height:100%;
    flex-direction:column;
    align-items: center;
    overflow: scroll;
}
.header {
    width:100%;
    height:6%;
    display:flex;
    justify-content: space-between;
    background-color: green; /*#86E2D5;*/
    align-items: center;
    position:fixed;
    z-index:1000
}
.navbutton {
    align-items: center;
}

.navbutton:hover {
    color: white;
}

.gitbutton {
    align-items: center;
}
.mainimage{
    display:flex;
    width:100%;
    height:33%;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/*.coremain {
    display: flex;
    height:55%;
    background-size: contain
}*/
.coremain {
    margin-top:2%;
    display: flex;
    height:60%;
    width:50%;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}
.image {
    align-self:center;
    justify-content:center;
}
.text {
    align-self:center;
    justify-content: flex-end;
    flex-direction:center;

}
.maintext {
    margin-top:20px;
}
.grafql {
    font-size:70px;
    justify-content:center;

}
.second {
    width:100%;
    height:20%;
    background-color: #FFD000;/*#E9D460;*/
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-top:0;
}
.secondtxt {
    max-width: 700px;
    margin: 0px auto 13px;
    padding: 19px 0px 0px;
    font-size: 15px;
    line-height: 10px;
}
.tryit {
    flex-direction:row;
    justify-content:center;
    display:flex;
    align-items:center;
    margin-top:10px;
}
.trytext{
    margin:0px;
    font-weight:bold
}
.third {
    display:flex;
    flex-direction: row;
    width:70%;
    height:500px;
    justify-content:space-around;
    align-items:center;
}
.featurebox {
    width:30%;
    height:400px;
    justify-content:space-around;
}
img {
    max-width:100%;
}
.bottompart {
    background-color:black;
    width:100%;
    height:300px;
}
.secondtxt {
    text-align:center;
}
.meetteam {
    background-color:red;
    width:100%;
}

.drawertop {
    width:100%;
    height:6%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:black;
    color:#E9D460
}
.features {
    margin-top:3%;
}

@media all and (max-width:1000px) {
    .mainimage {
        width:100%;
    }
}
