#root {
    width:100%;
    height:100%;
}
#routed-component {
    width:100%;
    height:100%;

}
.mainpage {
    display:flex;
    width:100%;
    height:1200px;
    flex-direction:column;
    align-items: center;
}
.header {
    width:100%;
    height: 65px; /*6%;*/
    display:flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0); /*#86E2D5;*/
    align-items: center;
    position:fixed;
    z-index:1000
}
.navbutton {
    align-items: center;
    /* color:#FDD217 */
}

.navbutton:hover {
    color: white;
}
.material-icons {
    color:#FDD217;
    size:60px;
}

.gitbutton {
    align-items: center;
}
.mainimage{
    display:flex;
    width:100%;
    height:100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgba(0,0,0, 1);

}
.mainimage .background{
    height:100%;
    width:100%;
    z-index:1;
    opacity:0.2;

}

.coremain {
    margin-top:2%;
    display: flex;
    height:50%;
    width:100%;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    z-index:2;
    position:absolute;
}
.image {
    align-self:center;
    justify-content:center;
}
.text {
    align-self:center;
    justify-content: flex-end;
    flex-direction:center;

}
.maintext {
    margin-top:45px;
    font-size:20px;
    color:#F6F6F6;
    text-align:center;
}

.exp {
    text-align: center;
    color:#F6F6F6;
    font-size:15px;
}
.grafql {
    font-size:50px;
    justify-content:center;
    color:#F6F6F6;
    display:inline-block
}

.graphiql {
    text-decoration: none;
    color:#FDD217;
}

.tryit {
    flex-direction:row;
    justify-content:center;
    display:flex;
    align-items:center;
    margin-top:10px;
    margin-bottom:30px;
}
.tryitbutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FDD217;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:35px;
    padding-left:35px;
    border-width: medium;
    font-size:15px;
    color:#F6F6F6
}

.tryitbutton:hover {
    background-color: #FDD217;
    color: #F6F6F6;
}

.logo {
    width:150px;
    height:150px;
    display: inline-block;
}
.trytext{
    margin:0px;
    font-weight:bold
}
.third {
    display:flex;
    flex-direction: row;
    width:100%;
    height:60%;
    justify-content:space-around;
    background-color:black;
    padding-top:20px;
    padding-bottom:20px;
}
.featurebox {
    color: #f6f6f7;
    width:30%;
    height:50%;
    text-align: center;
    background-color: black;
    border-color: black;
}
img {
    max-width:100%;
}

.bottompart {
    background-color: #F6F6F7;
    width:100%;
    height:50px;
    font-size: 10px;
    color: #2d2d2d;
    text-align:center;
    padding:10px;
}
.secondtxt {
    text-align:center;
}
.meetteam {
    background-color:red;
    width:100%;
}

.drawertop {
    width:100%;
    height: 65px; /*6%;*/
    display:flex;
    justify-content: center;
    align-items:center;
    /* background-color: rgb(45,45,45); */
    color: #fdd217; /*#E9D460*/
    font-weight: 400;
}
.features {
    margin-top:3%;
}

@media all and (max-width:640px) {
    .mainimage {
        width:100%;
        height:60%;
    }
    .exp {
        font-size:10px;
    }
    .third {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:70%;
        padding-bottom:20px;
    }
    .featurebox {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width:60%
    }
    .panelheader {
        font-size:10px;
        margin-bottom:0;
    }
}

#about {
    margin-top: 50px
}

.row {
    margin-top: 50px;
}

.containerFeatures {
    margin-top: 100px;
    width: 90%
}
.logoandgiraff {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
}
.panelcontent {
    width:100%;
    height:100%;
    text-align: center;
    cursor:pointer;
    z-index:-1
}
.panelheader {
    color: #f6f6f7;
    font-size:15px;
}
.panel-body {
    padding:0;
}